<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.redtown.app">

    <!-- REQUIRED on Android 11+ to launch system settings intents -->
    <queries>
        <intent>
            <action android:name="android.settings.MANAGE_APP_ALL_FILES_ACCESS_PERMISSION" />
        </intent>
    </queries>

    <!-- All Files Access permission -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:label="RedTown"
        android:icon="@mipmap/ic_launcher">

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
